n8n-workflows/whatsapp_escalation.json
{
  "name": "SafeX WhatsApp Escalation Flow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "escalation",
        "options": {}
      },
      "id": "e43b1856-11f8-45d6-bd13-1f14371e51b3",
      "name": "Webhook Trigger (From Backend)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "escalation-trigger"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "phoneNumberId": "={{$json[\"phone_number_id\"]}}",
        "recipientPhoneNumber": "={{$json[\"admin_phone\"]}}",
        "textBody": "=🚨 *New Escalation Request*\n\n*Escalation ID:* {{$json[\"escalation_id\"]}}\n*User Email:* {{$json[\"user_email\"]}}\n*Question:* {{$json[\"original_question\"]}}\n\n_Reply to this message with the answer._"
      },
      "id": "5fa23d11-5364-4e9b-b236-057d34193b22",
      "name": "WhatsApp (Send to Admin)",
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "options": {}
      },
      "id": "5f643e99-4c55-46aa-ab3e-eb6b95d73351",
      "name": "WhatsApp Trigger (Admin Reply)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 550],
      "webhookId": "whatsapp-trigger"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "phoneNumberId": "={{$json[\"phone_number_id\"]}}",
        "recipientPhoneNumber": "={{$json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"context\"][\"user_email\"]}}",
        "textBody": "=Hello! Here is the answer to your question from SafeX admin:\n\n{{$json[\"body\"][\"entry\"][0][\"changes\"][0][\"value\"][\"messages\"][0][\"text\"][\"body\"]}}"
      },
      "id": "a1b2c3d4-send-email-node",
      "name": "Send Email to User (via n8n Email node)",
      "type": "n8n-nodes-base.emailSendV2",
      "typeVersion": 1,
      "position": [450, 550],
      "notes": "REPLACE THIS NODE: Use the n8n 'Send Email' node configured with your SMTP credentials. Set To={{user_email}}, Subject='SafeX - Answer to your question', Body={{admin_response}}"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/escalation/resolve",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"escalation_id\": \"{{$json[\"escalation_id\"]}}\",\n  \"admin_response\": \"{{$json[\"admin_response\"]}}\",\n  \"user_email\": \"{{$json[\"user_email\"]}}\",\n  \"original_question\": \"{{$json[\"original_question\"]}}\"\n}",
        "options": {}
      },
      "id": "7649281a-6e54-47fa-8022-38448a97c413",
      "name": "HTTP Request (Update FAQ Doc)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 550]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger (From Backend)": {
      "main": [
        [
          {
            "node": "WhatsApp (Send to Admin)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger (Admin Reply)": {
      "main": [
        [
          {
            "node": "Send Email to User (via n8n Email node)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email to User (via n8n Email node)": {
      "main": [
        [
          {
            "node": "HTTP Request (Update FAQ Doc)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7ab07b4-e35b-42c2-b91c-76e330a3b2b6",
  "id": "c6z1",
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
